@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: relative;
	@apply font-mono
}

div#root {
	height: 100%;
}

.flex-center {
	@apply flex items-center justify-center;
}