@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	height: 100%;
	margin: 0;
	position: relative;
	@apply font-mono bg-primary-bg-color
}

body {
	overflow-y: scroll;

}

div#root {
	height: 100%;
}

.flex-center {
	@apply flex items-center justify-center;
}