@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	height: 100%;
	margin: 0;
	position: relative;
	font-family: 'Roboto Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	@apply bg-primary-bg-color
}


div#root {
	height: 100%;
}

.flex-center {
	@apply flex items-center justify-center;
}

.filter-open {
	@apply rounded-t-3xl rounded-b-md
}